@charset "UTF-8";

.inven_box {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-between;
	margin: 20px;
	margin-top: 0px;
}

#week_box, #now_inven_box, #order_inven_box {
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 31%;
	height: 740px;
	margin-top: 20px;
	background-color: white;
}

#orderViewBtn, #amountUsedViewBtn, #contentBtn, #emailBtn {
	border: 1px solid #ccc;
	border-radius: 3px;
}

.day {
	width: 98%;
	height: 35px;
	font-size: 18px;
	text-align: center;
	border: none;
	margin-top: 5px;
	outline: none;
}

#viewBox {
	display: flex;
	justify-content: space-around;
	gap: 10px;
	margin: 5px;
}

.viewBtn {
	width: 47%;
	height: 33px;
}

#tableBox1 {
	max-height: 630px;
	overflow-y: scroll;
}

#orderDataT, #amountUsedT, #nowInvenT {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
}

.tTitle {
	font-size: 20px;
	text-align: center;
}

thead {
	position: sticky;
	top: 0;
	z-index: 10; /* z-index로 헤더를 위로 올림 */
}

#orderDataTTh, #amountUsedTTh, #nowInvenTTh {
	height: 37px;
	background-color: #f9f9f9;
}

tr {
	height: 35px;
}

tr, td, th, thead {
	border: solid #E9ECEF 1px;
	border-left: none;
	border-right: none;
}

.fontBold {
	font-weight: bold;
}

.backY {
	background-color: #FFC125
}
/*FFC125*/
#contentBtn {
	width: 200px;
	height: 45px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	font-size: 16px;
}

#contentBtn:hover, #emailBtn:hover {
	background-color: #FFC125;
}

.nonDisp {
	display: none;
}

textarea {
	width: 80%;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 3px;
	resize: none;
	min-height: 300px;
	margin: 0 auto;
	display: block;
	font-size: 16px;
	margin-top : 10px;
	margin-bottom : 10px;
}
#recipient,#subject{
	display: block;
	width: 80%;
	height: 30px;
	margin : 0 auto;
	border: 1px solid #ccc;
}
#emailBtn{
	display: block;
	width: 80%;
	height: 35px;
	margin : 0 auto;
}