@charset "UTF-8";

/* order history list 전체 틀 */
.history_box {
	width: 900px;
	height: 780px;
	margin: 0 auto;
	position: relative;
}

/* 검색 부분 */
.search_box {
	width: 100%;
	height: 45px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 6px;
	position: absolute;
	margin-top: 20px;
}

/* 리스트 부분 */
.content_box {
	width: 100%;
	height: 620px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 6px;
	position: absolute;
	margin-top: 75px;
}

tr, td, th {
	border: solid #E9ECEF 1px;
	border-left: none;
	border-right: none;
}

th {
	background-color: #f9f9f9;
	height: 50px;
}

.content_box>table {
	background-color: white;
	width: 93%;
	height: 590px;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.on>a {
	color: black;
	text-decoration: none;
	margin: 0 auto;
	font-size: 17px;
	text-decoration: none;
}

.on>a:hover{
	color: #FFC125;
}
/* 페이징 부분 */
.paging_box {
	width: 100%;
	height: 45px;
	background-color: white;
	border: 1px solid #ccc;
	position: absolute;
	bottom: 30px;
	border-radius: 6px;
	display: flex;
	justify-content: space-between; /* 또는 center, space-around 등으로 조절 가능 */
}

.prev_btn, .next_btn {
	width: 100px;
	height: 90%;
	margin: 2px;
	display: flex;
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
}

.paging_num {
	width: 600px;
	height: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
}

.prev_btn>a, .next_btn>a {
	text-decoration: none;
	font-size: 25px;
	font-weight: 500;
}

.now_page {
	color: #FFC125;
}

.nomal_num {
	color: black;
}

.paging_num>a {
	text-decoration: none;
	margin: 0 auto;
	font-size: 18px;
}

.prev_btn>a, .next_btn>a:link {
	color: black;
}

.prev_btn>a, .next_btn>a:visited {
	color: black;
}

.paging_num>a:hover {
	color: #ccc;
}