@charset "UTF-8";

.main_container {
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	height: 780px; 
	width: 80%;
	margin: 0 auto;
}

.box, .box_logo {
	width: 150px; 
	height: 150px; 
	background-color: #f0f0f0; 
	border: 1px solid #ccc; 
	box-sizing: border-box; 
	text-align: center; 
	line-height: 150px; 
	background-color: white;
	border-radius: 10px;
	border: dashed 4px #FFC125;
	font-size: 25px;
	letter-spacing: 6px;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

.box:hover {
	background-color: #FFC125;
}
.box_logo{
	background-color: #FFC125;
}