@charset "UTF-8";
/* 배치 */
.num_btn, .list_price {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-between;
	padding: 30px 30px 0px 30px;
}

.num_btn>div, .list_price>div {
	width: 45%;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	background-color: white;
	border-radius: 6px;
}

.num_btn {
	height: 60px;
}

.list_price {
	height: 640px;
}

/* 테이블 번호 */
.table {
	/* 가운데 정렬 */
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: end;
	align-content: center;
	align-items: center;
	gap: 5px;
	font-size: 35px;
	letter-spacing: 6px;
	font-weight: bold;
	font-size: 35px;
}

.table>select {
	font-size: 20px;
	letter-spacing: 6px;
	font-weight: bold;
	width: 100px;
	height: 40px;
	border: 2px dashed #ccc;
	border-radius: 10px;
	margin-right: 140px;
	text-align-last: center;
}

/* 주문하기 */
.btn>button {
	width: 482px;
	height: 42px;
	border: 2px dashed #ccc;
	border-radius: 10px;
	font-size: 20px;
	letter-spacing: 6px;
	font-weight: bold;
}

.btn>button:hover {
	background-color: #FFC125;
}

/* 음식 목록 */
.navigation {
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
	border-radius: 6px;
}

.navigation a {
	display: inline-block;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	border-radius: 6px;
	border: 2px dashed #ccc;
	color: black;
}

.navigation a:hover {
	background-color: #ccc;
	color: black;
}

.active {
	background-color: #FFC125;
}

.list_container {
	margin-top: 20px;
}

.list_container>ul {
	padding: 0;
	max-height: 520px; /* 예시로 설정한 최대 높이 */
	overflow-y: auto;
}

.list_item {
	margin: 5px 0;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	list-style-type: none;
}

/* 주문 목록 */
#cart_list {
	width: 100%;
}

#cart_del {
	width: 30px;
	'
}