<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.inventory_pj.mapper.HallInvenMapper">

	<!-- <select id="orderData" resultType="org.inventory_pj.model.Order_detailVO"> SELECT food, SUM(cnt) AS total_cnt FROM order_detail WHERE order_num IN 
		( SELECT order_num FROM order_total WHERE regdate BETWEEN DATE_SUB(CURDATE(), INTERVAL (WEEKDAY(CURDATE()) + 3) % 7 DAY) AND DATE_ADD(CURDATE(), INTERVAL 
		(7 + 3 - WEEKDAY(CURDATE())) % 7 DAY) ) GROUP BY food </select> -->

	<select id="orderData" resultType="org.inventory_pj.model.Order_detailVO">
		SELECT food, SUM(cnt) AS total_cnt,
		CASE
		WHEN food LIKE '%전' OR food IN ('군만두', '떡갈비','잡채') THEN 'cat1'
		WHEN food LIKE '%사리' OR food IN ('밥', '당면') THEN 'cat2'
		WHEN food LIKE '%치킨' OR food IN ('치즈불닭') THEN 'cat3'
		WHEN food LIKE '%비빔밥'OR food LIKE ('%돌솥밥')
		THEN 'cat4'
		WHEN food LIKE '%전골' OR food IN ('낙곱새', '감자탕','곱도리탕') THEN 'cat5'
		WHEN food LIKE '%탕'
		OR food LIKE '%국'
		OR food LIKE '%국밥'
		OR food LIKE '%순두부'
		OR food LIKE '%찌개'
		OR food LIKE '%쌈밥'
		OR food LIKE '%돈까스'
		OR food LIKE '%냉면'
		OR food IN ('오징어볶음', '양념게장', '생선구이', '떡볶이','계란찜','갈비') THEN 'cat6'
		ELSE 'other'
		END AS tac_category
		FROM order_detail
		WHERE order_num IN (
		SELECT order_num
		FROM order_total
		WHERE regdate BETWEEN
		DATE_SUB(CURDATE(), INTERVAL (WEEKDAY(CURDATE()) + 3) % 7 DAY)
		AND
		DATE_ADD(CURDATE(), INTERVAL (7 + 3 - WEEKDAY(CURDATE())) % 7 DAY)
		)
		GROUP BY food;
	</select>
</mapper>
