<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.inventory_pj.mapper.OrderHistoryMapper">

	<select id="history_total_list" resultType="org.inventory_pj.model.OrderVO">
		<!-- select * from orderlist -->
		select *
		from(
		select @rownum:=@rownum+1 rownum, ol.*
		from orderlist ol,(SELECT @rownum:=0) as tmp
		order by order_num desc
		) as orderlist
		<![CDATA[
		where rownum > (#{page_num}-1)*#{amount} and rownum <= #{page_num}*#{amount}
		]]>
	</select>

	<select id="total" resultType="int">
		select count(*) from orderlist;
	</select>

</mapper>