<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.inventory_pj.mapper.OrderMapper">

	<!-- food detail 개별 주문 목록 -->
	<insert id="submit_order">
		insert into food_detail(order_num, table_num, food, cnt, price) values
		(#{order_num},#{table_num},#{food},#{cnt},#{price});
	</insert>

	<!-- order list 총 주문 목록 -->
	<insert id="submit_order_total">
		insert into orderlist(order_num, regdate, table_num, total_price) values
		(#{order_num},#{regdate},#{table_num},#{total_price});
	</insert>
</mapper>